<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>BitCoin</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form class="container" action="/getImage">
      <br>
      <h1>BitCoin Price App</h1>
      <br>
      <div id="buttons">
      <input type="radio" id="USD" name="currency" value="coin">
      <label for="USD">USD</label>
      <input type="radio" id="GBP" name="currency" value="coin">
      <label for="GBP">GBP</label>
      <input type="radio" id="EUR" name="currency" value="coin">
      <label for="EUR">EUR</label>
      </div>
    
      <input id="btn" type="submit" value="Get Price"/>
      <h2>This is the current price:</h2>
    </form>
  </body>
</html>

