<%- include("partials/header") %>


<div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="container">
        <div class="masthead clearfix">
          <div class="container inner">
        
          </div>
        </div>
        <div class="inner cover">
          <br>
          <h1 class="cover-heading">BitCoin Price App</h1>

          <form class="container" action="/quote">
            <div id="buttons">
            <input type="radio" id="USD" name="currency" value="coin">
            <label for="USD">USD</label>
            <input type="radio" id="GBP" name="currency" value="coin">
            <label for="GBP">GBP</label>
            <input type="radio" id="EUR" name="currency" value="coin">
            <label for="EUR">EUR</label>
            </div>
      <br>
          <form method="get" action="/quote">
            <button class="btn btn-lg btn-secondary btn-info">Get Price</button>
            <br>
            <h2>This is the current price:</h2>
        </form>


          <h1 class="cover-heading"><%= result %></h1>
          <form method="get" action="/quote">
        </form>
        </div>
      </div>
    </div>
  </div>

<%- include("partials/footer") %>