.buttongroup {
	margin: auto;
	width: 60%;
}

.button1 {
	padding: 25px 80px;
	background-color: #0D47A1;
	border: none;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
}

.button2 {
	padding: 25px 80px;
	background-color: #F44336;
	border: none;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
}

.button3 {
	padding: 25px 80px;
	background-color: #4CAF50;
	border: none;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
}

.button4 {
	padding: 25px 80px;
	background-color: #FFEB3B;
	border: none;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
}