.container {
  position: relative;
  color: white;
  text-align: center;
}

.centered {
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 54px;
  padding: 80px 150px 0px 150px; /* added padding */
  text-transform: uppercase;
  width: 900px;
  left: 15%;
}