
<% include partials/header.ejs%>

<div>
    <form action="/getPrice" method="get">
        <input type="radio" name="country" value='USD' checked id="">USD
        <input type="radio" name="country" value='GBP' id="">GBP
        <input type="radio" name="country" value='EUR' id="">EUR
        <br><br>
        <input type="submit" value="Get Price">
    </form>
    <br>
    <!-- research the diffrences between <% %>, <%= %>, <%- %> -->
    <h2>This is the current price: <%- symbol %> <%= rate %>
    <br>
        
    </h2>
</div>

<% include partials/footer.ejs%>



