/* This sets the image as the entire background of the web-page.  The background-repeat is set to no-repeat so the image does not repeat itself more than once.  The background-size is set to cover so the image covers the entire background.   */

body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* The code was set in a flex container so when the user adjusts the screen, the divs are on top of one another like it would be on a mobile phone. */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 300px;
  }

/* First div was give the class name "E" and positioned at absolute and given -40% for the top and to float:left */

#E {
	margin-top:25%;
	background-color: blue;
	width: 30%;
    color: white;
	height: 250px;
	border-radius: 25px;
	padding: 20px;
    opacity: 0.4;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    border: 3px solid black;
    outline-width: thin;
    line-height: 200px;
    position: absolute;
    top: -40%;
    float: left;
}

/* Second div was set as Pluribus, and was centered screen like in the example provided. */

#Pluribus {
    margin-top:25%;
	background-color: blue;
	width: 30%;
    color: white;
	height: 250px;
	border-radius: 25px;
	padding: 20px;
    opacity: 0.4;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    border: 3px solid black;
    outline-width: thin;
    line-height: 200px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

/* The third and last div was given the name Unum and given a margin-left of 800px and top 40%*/

#Unum {
	margin-top:25%;
	background-color: blue;
	width: 30%;
    color: white;
	height: 250px;
	border-radius: 25px;
	padding: 20px;
    opacity: 0.4;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    border: 3px solid black;
    outline-width: thin;
    line-height: 200px;
    position: absolute;
    top: 40%;
    margin-left: 800px;
}