<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Donut Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="topnavbar">
    <ul>
        <li><a href="#donuts">Donuts</a></li>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div> -->

<%- include("partials/header") %>

<div class="jumbotron jumbotron fluid">
<div class="container">
    <h1>Welcome to the Donut Shop</h1>      
    <p>We bake the hottest, freshest donuts that you can imagine.  You want donuts?  We got it.</p>
  </div>
</div>


<%- include("partials/footer") %>
<!-- <ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
</ul>

</body>
</html> -->