* {
    margin:0;
    padding: 0;
    border: none;
}

p {
    font-size: 54px; 
    width: 37%; 
    color: white; 
    text-align: center; 
    margin: 15% auto;
    text-transform: uppercase;
}

#picRotation { 
    background-image: url("assets/background1.jpg");
}
